# Ignore everything by default
*

# But not these files in the root
!.gitignore
!README*
!LICENSE

# In the agent folder, ignore everything
agent/*
# But not these specific files/folders in agent
!agent/keybinds.json
!agent/extensions/

# Specific directories to ignore regardless of above
pi-acp/
agent/pi-hermes-memory/
agent/projects-memory/
agent/sessions/
agent/docs/
agent/skills/
agent/npm/
agent/bin/
.commandcode/
agent/auth.json
agent/trust.json
agent/models.json
agent/settings.json
web-search.json
nul
*.exe
