# Ignore everything by default
*
!.pi/

# But not these files in the root
!.gitignore
!README*
!LICENSE

# In the agent folder, ignore everything except keybinds.json and extensions
agent/*
!agent/keybinds.json
!agent/extensions/

# Track .pi/agent/keybinds.json
.pi/agent/*
!.pi/agent/keybinds.json

# Specific directories to ignore regardless of above
pi-acp/
agent/pi-hermes-memory/
agent/projects-memory/
agent/sessions/
agent/docs/
agent/skills/
agent/npm/
agent/bin/
.commandcode/
agent/auth.json
agent/trust.json
agent/models.json
agent/settings.json
web-search.json
nul
*.exe
